* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  font-size:16px;
  font-family: 'parisine', Arial, serif; 
}
nav {
  background-color: steelblue;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none; 
}

h1 {
  color: steelblue;
  padding: .5rem
}


main {
  max-width: 640px;
  padding: 10px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float:right ;
  margin-left: 0 0 1rem 1rem; 
}

p {
  margin: 1rem;
  padding: 0;
}

aside {
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative; 
}

aside img {
  position: absolute;
  top: 47px;
  left: 150px;
}

aside h2 {
  position: absolute;
  top: 67px;
  left:150px;

}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
/* Class selectors*/
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent{
  padding-left: 2rem;
}