* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: steelblue;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none; 
}

main {
  max-width: 840px;
  padding: 10px;
}

h1 {
  color: steelblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float:right ;
  margin-left: 1rem; 
  margin-bottom: 1rem;
}

p {
  padding: 0;
}

aside {
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative; 
}

aside img {
  position: absolute;
  top: 47px;
  left: 150px;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}